{% extends "../base.html" %}
{% load static %}
{% load markdown %}
{% load remove_white_space %}
{% load side_archive_category %}
{% load count_montharchive %}

{% load account %}
{% load socialaccount %}

{% block content %}
<div id="container">

    <header>
        <div id="header_title">
            <!-- <li class="skill-icon fa fa-code" style="border:4px solid;border-radius:50%;"> </li
                class="skill-icon fa fa-code"> -->
            <li class="fa fa-bars"
                onclick="if($('#header_menu').hasClass('active')){$('#header_menu').removeClass('active');}else{$('#header_menu').addClass('active');};"
                style=" cursor: pointer;"></li>

            <li>
                <form id="form1" action="">
                    <input id="sbox" name="keyword" type="text" placeholder="キーワードを入力" />
                    <input id="a" name="検索" , type="submit" />
                    <!--<input id="sbtn" type="submit" value="検索"/>-->
                </form>
            </li>
            {%if user.is_authenticated%}
            <li>{{user.get_username}}</li>
            {%else%}
            <li>ログインしてない侍</li>
            {%endif%}


        </div>
        <div id="header_menu" class="">
            <div class="close"></div>
            <div class="wrap">
                <li> 記事一覧 </li>
                <li><a href="{% url 'contents:tagall'  %}"> タグ一覧 </a></li>


                <li>タイトルヘッダ</li>
                {% if perms.auth.add_user %}
                <li><a href="{%url 'contents:logout'%}">ログアウト</a></li>
                <li><a href="{% url 'contents:create' %}">新規作成</a></li>
                {%else%}
                <li><a href="{%url 'contents:login'%}">普通のログイン</a></li>
                <li>
                    {% get_providers as socialaccount_providers %}
                    {% for provider in socialaccount_providers %}
                    <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }}"
                        href="{% provider_login_url provider.id process='login' %}">{{ provider.name }}</a>
                    {% endfor %}
                </li>
                {%endif%}
            </div>



        </div>

        <div id="header_logo">
            <!--<img class="header_img" src="{% static 'photo/header_image3.jpg' %}"/>-->
        </div>

        <h1><a href="{% url 'contents:main' %}"> そんじょそこらにあるブログ</a></h1>
        <!--<p>今ログインしているユーザーは、-->
        <!--記事の-->
        <!--参照権：{{ perms.contents.view_article }}-->
        <!--登録権：{{ perms.contents.add_article }}-->
        <!--があります-->
        <!--タグの-->
        <!--参照権：{{ perms.contents.view_tag }}-->
        <!--登録権：{{ perms.contents.delete_article }}-->
        <!--があります-->
        <!--</p>-->

    </header>

    <div id="main_wrap">
        <div id="main">
            {% if search_keyword %}
            <div class="result">
                <div id="search_result">
                    検索結果：{{ search_keyword }}
                </div>
            </div>
            {% elif propertyinfo  %}
            <div class="result">
                <div id="tag_result">
                    選択タグ : {{propertyinfo}}
                </div>
            </div>
            {%else%}
            {% endif %}


            <!--記事本文-->
            {% for detail in article_list %}
            <div class="article">
                <div class="article_img">
                    <!--投稿画像があったら表示、なかったら固定画像-->
                    {% if detail.photo %}
                    <img class="title_img" src="{{ detail.photo.url }}" />
                    {% else %}
                    <img class="title_img" src="{% static 'photo/gazo2.png' %}" />
                    {%endif%}
                    <span style="position:absolute;right:0;top:0;background:#63f2a6;color:#444444;">ああ</span>
                </div>

                <div class="article_main">
                    <div class="article_title">
                        <a href="{% url 'contents:detail' detail.pk %}">
                            {{ detail.title | linebreaks }}
                        </a>
                    </div>

                    <div class="article_text">
                        {% spaceless %}
                        {{ detail.text | markdown_to_html | striptags | remove_white_space }}
                        {% endspaceless %}
                    </div>

                    <div class="article_end">
                        {% for tag in detail.tag.all %}
                        <span class="tag ">
                            <a href="{% url 'contents:tagview' tag.pk %}">{{ tag}}</a>
                        </span>
                        {% endfor %}
                        <span class="published entry-meta_items">{{detail.created_at |date}}</span>
                    </div>
                </div>
            </div>

            {%endfor%}
            <div class="page">
                <!--ページネーション部分-->
                {% include "./pagination.html" %}
            </div>
        </div>

        <!-- サイドバー部分 -->
        {%include "./sidebar.html"%}



    </div>
    <footer>

        <p>Copyright © {% now "Y" %} <span>そんじょそこらにあるブログ </span>All Rights Reserved.</p>
        <a href="#">トップへ</a>
    </footer>




    {% endblock %}