{% extends "../base.html" %}
{% load static %}
{% block content %}
<div id="container">
    <header>
        <div id="header_title">
            <li>タイトルヘッダ</li>
            <li>a</li>
            <li>b</li>
            <li>c</li>


        </div>

        <div id="header_logo">
            <!--<img class="header_img" src="{% static 'photo/header_image3.jpg' %}"/>-->
        </div>

        <h1>ブログタイトル</h1>
    </header>

    <div class="main_wrap">
        <div id="main">

            <div>
                ***メイン部分***
            </div>

            <div>
                ***メイン部分***
            </div>
            <div>
                ***メイン部分***
            </div>
            <div>
                ***メイン部分***
            </div>
            <div>
                ***メイン部分***
            </div>


        </div>

        <div id="sidebar">
            <div>
                *** サイドバー部分 ***

            </div>

                      <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>  <div>
                *** サイドバー部分 ***

            </div>vvv
        </div>



    </div>

</div>


{% endblock %}